@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Portal</h1>
    <img src="@Url.Content("~/Assets/lpu.svg")" alt="LPU Image" height="450px" draggable="false">

</div>
